.header {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 192rem;
  height: 7rem;
  background-color: $light;

  padding: 0 3.8rem 0 6.6rem;

  &__logo {
    display: flex;
    align-items: center;

    margin-right: 12.1rem;
  }

  &__nav {
    width: 100%;
    max-width: 38.5rem;
    gap: 2.5rem;

    margin-right: 5.9rem;
  }

  &__icon {
    margin-right: 0.7rem;
  }

  &__task {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 45.5rem;

    margin-right: 3.8rem;
  }

  &__task-link {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 8rem;

    margin-right: 3.6rem;
  }

  &__task-progress {
    position: relative;
    width: 100%;
    max-width: 19.7rem;
    height: 0.6rem;

    background-color: $secondary;
    border-radius: 2.2rem;
    margin-right: 1.3rem;

    &::after {
      content: "";
      display: block;
      position: absolute;

      top: 0;
      left: 0;

      width: 33%;
      height: 100%;

      background-color: $blue;
      border-radius: 2.2rem;
    }
  }

  &__task-progress-percent {
    position: absolute;

    bottom: -3.2rem;
    left: 33%;
    transform: translateX(-50%);

    color: $light;
    font-size: 1.3rem;
    font-weight: 600;

    width: 100%;
    max-width: 4.7rem;
    height: 2.2rem;
    padding: 0.3rem 1.1rem;

    background-color: $primary;
    border-radius: 0.5rem;

    &::before {
      content: '';
      position: absolute;
      display: block;

      top: -1.4rem;
      left: 50%;
      transform: translateX(-50%);

      border: 0.7rem solid transparent;
      border-bottom: 0.7rem solid $primary;
    }
  }

  &__task-info {
    width: 100%;
    max-width: 12.8rem;
    font-size: $font-size-2;
    color: $primary;
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
    max-width: 39.2rem;
    height: 3.9rem;

    margin-right: 4.9rem;
  }

  &__search-form {
    max-width: 39.2rem;
    height: 3.9rem;

    background-color: rgba($primary, 0.05);
    border-radius: 0.5rem;
    padding: 1.1rem 2.74rem 1.1rem 4.4rem;

    &::placeholder {
      color: rgba($primary, 0.5);
    }
  }

  &__search-icon {
    position: absolute;
    top: 1.16rem;
    right: 1.04rem;

    width: 100%;
    max-width: 1.69rem;
    height: 1.69rem;
  }

  .arrow-field_header__search {
    position: absolute;
    top: 0.7rem;
    left: 1.7rem;
  }

  &__notify {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 2.4rem;
    height: 2.4rem;

    margin-right: 3rem;


    &::before {
      content: "";
      display: block;
      position: absolute;

      top: 0;
      right: 0;

      width: 0.8rem;
      height: 0.8rem;

      background-color: $red;
      border-radius: 50%;
    }
  }

  &__notify-icon {
    width: 2rem;
    height: 2.1rem;
  }

  &__profile {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 19.9rem;

    margin-left: auto;

   // @media all and (max-width: 1536px) {
   //   max-width: 6.9rem;
   // } 

  }

  &__profile-photo {
      width: 4.6rem;
      height: 4.6rem;
      border-radius: 50%;
      margin-right: 1.2rem;
  }

  &__profile-name {
      width: 11.9rem;
      font-size: $font-size-3;
      font-weight: 600;
      color: $primary;
      margin-right: 0.576rem;

    //  @media all and (max-width: 1536px) {
    //    display: none;
    //  }
  }
}
