/* fonts */

$font-size-1: 1.2rem;
$font-size-2: 1.3rem;
$font-size-3: 1.4rem;
$font-size-4: 1.6rem;
$font-size-5: 2.4rem;
$font-size-6: 3.2rem;
$font-size-7: 4.2rem;


/* Colors */

$primary: rgba(31, 65, 115, 1);
$light: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$secondary: rgba(230, 234, 240, 1);
$blue: rgba(0, 58, 210, 1);
$orange: rgba(246, 121, 50, 1);
$red: rgba(232, 0, 0, 1);
$green: rgba(0, 168, 77, 1);
$purple: rgba(134, 118, 255, 1);
$fon: rgba(245, 247, 251, 1);
$logo: rgba(0, 67, 241, 1);
$light-green: rgba(22, 195, 91, 1);
$light-blue: rgba(36, 189, 199, 1);
$yellow: rgba(255, 153, 0, 1);
$light-purple: rgba(112, 0, 255, 1);
$gray: rgba(113, 122, 138, 1);
$default-gray: rgba(102, 111, 126, 1);
$dark-gray: rgba(90, 90, 90, 1);

$color-home: rgba(250, 88, 46, 1);
$color-product: rgba(1, 99, 222, 1);
$color-archived: rgba(15, 187, 89, 1);
$color-hand: rgba(120, 40, 220, 1);

/* gradients */

$gradient-1: linear-gradient(to right, rgba(243, 144, 52, 1), rgba(255, 39, 39, 1));
$gradient-2: linear-gradient(to right, rgba(0, 58, 210, 1), rgba(0, 151, 236, 1));
$gradient-3: linear-gradient(to right, rgba(0, 168, 67, 1), rgba(31, 208, 113, 1));
$gradient-4: linear-gradient(to right, rgba(89, 0, 201, 1), rgba(152, 82, 240, 1));